<header>
    <p>Urvi Mistry | N01546880 | Invoices</p>
</header>
<nav>
    <ul>
        <a href='/'>
            <li class="mainHeader">Home</li>
        </a>
        <a href='/api/ViewInvoices'>
            <li class="mainHeader">View Invoices</li>
        </a>
        <a href='/api/AddInvoice'>
            <li class="mainHeader">Add Invoice</li>
        </a>
        
    </ul>
</nav>